<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Post</title>
</head>
<body>
    <h1>Update your post</h1>
    <p>maximun two lines</p>
    <form method="POST"action="/threads/<%=postedit.id %>?_method=patch" > 
      <p>Description:</p>
      <textarea name="desc" ><%= postedit.desc %></textarea>

        <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>